# Copia este archivo a ".env" (en la raíz del proyecto) y pon tus valores reales.
# Estas dos las obtienes de tu proyecto de Supabase → Settings → API.
sb_publishable_21nJix3EmNVfsCQs35yziw_ZVjRPcD6  eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVkYmZwY2NxYnljanN2Z2d2Z2tlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM3OTM1NDksImV4cCI6MjA5OTM2OTU0OX0.NlTWQc-r-7m-DUvtcVICcjmzn8IQEgzEmngSLKXaV_c